<ion-content class="ion-padding admin-shell">
  <div class="page-header">
    <h1>Mi cuenta</h1>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked">Usuario actual</ion-label>
      <ion-input [value]="usuarioActual" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña actual</ion-label>
      <ion-input type="password" autocomplete="new-password" [(ngModel)]="passwordActual"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nuevo usuario (opcional)</ion-label>
      <ion-input autocomplete="off" [(ngModel)]="nuevoUsuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo de recuperación (opcional)</ion-label>
      <ion-input type="email" autocomplete="email" placeholder="correo@dominio.com" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nueva contraseña (opcional)</ion-label>
      <ion-input [type]="mostrarNuevaPassword ? 'text' : 'password'" autocomplete="new-password" [(ngModel)]="nuevaPassword">
        <ion-icon
          slot="end"
          [name]="mostrarNuevaPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="mostrarNuevaPassword = !mostrarNuevaPassword"
        ></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirmar nueva contraseña</ion-label>
      <ion-input [type]="mostrarConfirmarPassword ? 'text' : 'password'" autocomplete="new-password" [(ngModel)]="confirmarPassword">
        <ion-icon
          slot="end"
          [name]="mostrarConfirmarPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="mostrarConfirmarPassword = !mostrarConfirmarPassword"
        ></ion-icon>
      </ion-input>
    </ion-item>
  </ion-list>

  <div class="actions">
    <ion-button [disabled]="guardando" (click)="guardar()">Guardar cambios</ion-button>
  </div>
</ion-content>
